<section style="width:87%;height:900px;margin-left:auto;margin-right:auto;margin-top: 20px;text-align: center;">
	<h3>Why us?</h3>
    <p>Plan on going to visit family in another state, or have an offer to play for big and shiny new club?
        Afraid you'll gain injury, or your car will break down? Maybe your house is not in secure part of town?
        Don't be afraid. Insure yourself, and let us worry while you enjoy your stay.
    </p>
	<div style="width:100%;height:350px;display: table">
    	<div style="background-image:url('assets/images/wonderWoman.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
    		<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="margin-top: 10px;">FOR INDIVIDUALS</p>
    			<p style="margin-top: 5px;">Your life partner.</p>
    		</div>
    	</div>
   		<div style="background-image:url('assets/images/family.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: cover;position: relative;">
   		    <div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="margin-top: 10px;">FOR FAMILY</p>
    			<p style="margin-top: 5px;">Insurance for your loved ones.</p>
    		</div>
    	</div>
 		<div style="background-image:url('assets/images/bigFamily.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
   		    <div id="bottom-div" style="width:100%;height:90px;background-color:#f4e6c3;position: absolute;bottom: 0;" ng-click="indexVm.getInsurance()">
    			<p style="margin-top: 10px;">FOR ALL GENERATIONS</p>
    			<p style="margin-top: 5px;">Insurance for those who care about the safety of their dearest.</p>
    		</div>
    	</div>
   		
    </div>
    <div style="width:100%;height:350px;display: table">
    <div style="background-image:url('assets/images/travelers.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
    	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 10px;">FOR TRAVELERS</p>
   			<p style="margin-top: 5px;">You only live once.</p>
    	</div>
    </div>
   	<div style="background-image:url('assets/images/home.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;position: relative;">
   	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 10px;">FOR HOME</p>
   			<p style="margin-top: 5px;">Protect your home.</p>
    	</div></div>
   	<div style="background-image:url('assets/images/familyCar.jpg');width:350px;height:350px;margin: 20px;float:left;background-size: contain;background-position: center;position: relative;">
   	<div id="bottom-div" style="width:100%;height:70px;background-color:#f4e6c3;position: absolute;bottom: 0;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 10px;">FOR CAR</p>
   			<p style="margin-top: 5px;">Drive worryfree.</p>
    	</div></div>
    </div>
</section>
<section style="background-color:#f4e6c3; width:100%">
<div style="width:65%;height:500px;display: -webkit-box;margin-left:auto;margin-right:auto;">
	<div style="width: 250px;height: 500px;margin: 20px;">
    <div style="background-image:url('assets/images/wonderWomanTravel.jpg');width:200px;height:200px;margin: 20px;float:left;background-size: cover;border-radius: 50%;">
    	
    </div>
    <div style="width:100%;height:100%;text-align: center;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 15px;">TRAVEL INSURANCE</p>
   			<p>We offer many benefits that will make you glad you picked us.
            Special prices for kids, discounts for groups, longer stays... name it, we have it.
            Found better offer? Let us know, we are sure we can beat it.</p>
            <button class="md-button" style="background-color:#ab8628;" ng-click="indexVm.getInsurance()">Get it now</button>
		</div>
	</div>
	<div style="width: 250px;height: 500px;margin: 20px;">
   	<div style="background-image:url('assets/images/house.jpg');width:200px;height:200px;margin: 20px;float:left;background-size: cover;border-radius: 50%;">
    	
    </div>
    	<div style="width:100%;height:100%;text-align: center;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 15px;">HOME INSURANCE</p>
   			<p>First thing you need to do is to insure yourself for international travel, then you can choose to be even
            more secure and get roadside insurance as well as home insurance. No need to call your neighbors to see if your house is still standing.
        </p>
   			<button class="md-button" style="background-color:#ab8628;" ng-click="indexVm.getInsurance()">Get it now</button>
		</div>
	</div>
	<div style="width: 250px;height: 500px;margin: 20px;">
		<div style="background-image:url('assets/images/car.png');width:200px;height:200px;margin: 20px;float:left;background-size: cover;border-radius: 50%;">
    	
    	</div>
    	<div style="width:100%;height:100%;text-align: center;"  ng-click="indexVm.getInsurance()">
   			<p style="margin-top: 15px;">ROADSIDE INSURANCE</p>
   			<p>See, no need to worry about suddenly accidents, or to see where car services are located.</p>
   			<button class="md-button" style="background-color:#ab8628;" ng-click="indexVm.getInsurance()">Get it now</button>
		</div>
	</div>
</section>