<section class="wrapper" style="width:100%;height:300px;">
			<div style="background-image:url('assets/images/whiteLogo.png');width:11%;height:240px;margin: 30px;float:left;"></div>
				<div class="" style="width:80%;float:right;margin: 50px;">
					<h3>Why us?</h3>
					<p>Plan on going to visit family in another state, or have an offer to play for big and shiny new club?
						Afraid you'll gain injury, or your car will break down? Maybe your house is not in secure part of town?
						Don't be afraid. Insure yourself, and let us worry while you enjoy your stay.
					</p>
					<br/>
					<p>First thing you need to do is to insure yourself for international travel, then you can choose to be even more secure and get roadside insurance as well as home insurance.
						See, no need to worry about sudden accidents, or to see where car services are located. No need to call your neighbors to see if your house is still standing. :D
					</p>
					<a href="#" class="button">Learn More</a>
				</div>
			</section>
		
		<!-- Section -->
			<section class="wrapper" style="background-color:#d4b355; width:100%">
				<div class="">
					<p>We offer many benefits that will make you glad you picked us.
						Special prices for kids, discounts for groups, longer stays... name it, we have it.
						Found better offer? Let us know, we are sure we can beat it.</p>
				</div>
			</section>
<br/>