<!DOCTYPE html>
<html  ng-app= "menjanje">
<head>
<meta charset="UTF-8">
<title>Startup</title>

<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>-->
<script type="text/javascript" src="../js/vendor/jquery-3.1.1.min.js"></script>
	
<script type="text/javascript" src="../js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="../js/vendor/angular-ui-router.min.js"></script>

	<!--  toaster -->
	<link href="../css/vendor/toastr.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="../js/vendor/toastr.min.js"></script>
	
	<!-- bootstrap -->
	<link href="../css/vendor/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>


<script type="text/javascript" src="../js/vendor/angular-local-storage.min.js"></script>

<script type = "text/javascript" src="../directives/login/cookieModul.js"></script>

<script type = "text/javascript" src="change.js"></script>
<!-- 
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  

 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 -->
<!-- Latest compiled and minified JavaScript -->
<!-- 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->
</head>
 <body ng-controller="IzmenaCtrl as izmena" ng-init="init()"> 
 
 <button ng-click = "izmena.logoff()">LOGOFF</button>
 	
 	
 	<div class="panel panel-info">
        								
        						<div class="panel-heading">Uputstvo za formiranje lozinke</div>
      							<div class="panel-body">Lozinka se mora sastojati iz slova i barem jedne cifre. Barem jedno od slova mora biti veliko.</div>
        </div>
 
	<div class="container">
	  <div class="jumbotron">
	    <h1>Izmena lozinke</h1> 
	    	<form name = "changeForm"  
						ng-submit = "changeForm.$valid && izmena.submitClick()">
			    <div class="input-group">
			      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			      <input type="text" class="form-control" placeholder="Korisnicko ime" ng-model="userToChange.username" required>
			    </div>
			    
			    <div class="input-group">
			      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			      <input type="password" class="form-control" placeholder="Trenutna lozinka" ng-model="userToChange.password" 
			      minLength="8" maxlength="25" required>
			    </div>
			    
			    <div class="input-group">
			      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			      <!-- <input type="password" class="form-control" placeholder="Nova lozinka" ng-model="userToChange.password" required> -->
			      <input name="oldPassword" id="lozinka" type="password" class="form-control"
				   							 placeholder="Nova lozinka" ng-model="userToChange.newPassword"
				   							  minLength="8" maxlength="25" required></p>
			    </div>
			    <div class="panel panel-warning">
        								
        						<div class="panel-heading">Analiza lozinke</div>
      							<div class="panel-body">{{poruka}}</div>
        		</div>
			    <div class="input-group">
			      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			      <!-- <input type="password" class="form-control" placeholder="Potvrda nove lozinke" ng-model="userToChange.password" required> -->
			      <input ng-model="lozinka1" class="form-control" placeholder="Potvrda nove lozinke"
			       				name='confirm_password' data-password-verify="userToChange.newPassword" type="password" 
			       				minLength="8" maxlength="25" required></p>
				   			
			    </div>
			    
			    <div class="panel panel-danger" ng-show="changeForm.confirm_password.$error.passwordVerify">
        								
        						<div class="panel-heading">Potvrda lozinke</div>
      							<div class="panel-body">Lozinka i ponovljena lozinka se ne poklapaju!</div>
        		</div>
			    <button type="submit" class="btn btn-default" >Potvrdi</button>
			</form>
	  </div>
	  
	</div>
</body>
</html>
