<!-- Modal -->
<div class="modal fade  bs-example-modal-xs" id="friendsInviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="friendsInviteTitle" ng-show='friendsEstablished.all.length>0'> Invite some of your friends to meal </h4>
        <h4 class="modal-title" id="friendsInviteTitle" ng-show='friendsEstablished.all.length==0'> No friends to invite </h4>
      </div>


      <div class="modal-body">
<!--         <div class="table-responsive">
        	<table class="table" ng-show='friendsEstablished.all.length>0'>
                  <tr  ng-repeat='posibleInvite in friendsEstablished.all'> 
                    <td> {{posibleInvite.destination.username}} </td>
                    <td> <button type="button" class="btn btn-default" ng-click='inviteFriend(posibleInvite)'> <span class='glyphicon glyphicon-plus'></span> </button></td>
                  </tr>
          </table>
        </div> -->

        <!-- <div ng-show='friendsEstablished.all.length>0'>
          <div class="row" ng-repeat='posibleInvite in friendsEstablished.all'>
              <div class='col-sm-4'> {{posibleInvite.destination.username}} </div>
              <div class='col-sm-2 col-sm-offset-6'>
                <button type="button" class="btn btn-default" id="{{posibleInvite.destination.username}}" ng-click='inviteFriend(posibleInvite)'> 
                  <span class='glyphicon glyphicon-plus'></span> 
                </button>
              </div>
            </div>
        </div> -->
          <table class="table table-hover" ng-show='friendsEstablished.all.length>0'>
              <tr  ng-repeat='posibleInvite in friendsEstablished.all'><td><div class="row">
                <div class='col-sm-4'> {{posibleInvite.destination.username}} </div>
                <div class='col-sm-2 col-sm-offset-6'>
                  <button type="button" class="btn btn-default" id="{{posibleInvite.destination.username}}" ng-click='inviteFriend(posibleInvite)'> 
                    <span class='glyphicon glyphicon-plus'></span> 
                  </button>
                </div>
            </div></td></tr>
          </table>

      </div> <!-- content -->


      
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal" id="friendsInviteOk">Ok</button>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="registerInfoCancel">Cancel</button> -->
      </div>
      
    </div>
  </div>
</div>