<div  ng-controller = "RukovanjePermisijama as rp" data-ng-init="init()">

	<div class="panel panel-default" >
	
		<!-- <div id="table-wrapper">-->
		  <div id="table-scroll"> 
		    <table class="table table-hover">
		        <thead>
		            <tr class="text">
		                
		                <th><span >NAZIV</span></th>
		               
		            </tr>
		        </thead>
		        <tbody>
			        <tr ng-repeat="permisija in permisije track by permisija.id" ng-click="rp.setSelected(permisija)"
			         ng-class="{selected: permisija.id === idSelektovanePermisije}" >
			        	<td>{{permisija.name}}</td>
			        	
			        </tr>
		         
		        </tbody>
		    </table>
		  </div>
		 <!--</div> -->
	</div>
	
	 <div class="container" id="dugmici">
	  	<div class="btn-group">
		  <button type="button" class="btn btn-default" ><img src="ikonice/search.gif" width="20" /></button>
		  <button type="button" class="btn btn-default" ng-click ="rp.refresh()"><img src="ikonice/refresh.gif" width="20" /></button>
		  <button type="button" class="btn btn-default"><img src="ikonice/zoom-pickup.gif" width="20" /></button>
		  <button type="button" class="btn btn-default"><img src="ikonice/help.gif" width="20" /></button>
		</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-default" ng-click ="rp.firstClick()"><img src="ikonice/first.gif" width="20" /></button>
		  <button type="button" class="btn btn-default" ng-click ="rp.prevClick()"><img src="ikonice/prev.gif" width="20" /></button>
		  <button type="button" class="btn btn-default" ng-click ="rp.nextClick()"><img src="ikonice/next.gif" width="20" /></button>
		  <button type="button" class="btn btn-default" ng-click ="rp.lastClick()"><img src="ikonice/last.gif" width="20" /></button>
		</div>
		<div class="btn-group">
		  <button type="button" class="btn btn-default" ng-click ="rp.addClick()"><img src="ikonice/add.gif" width="20" /></button>
		  <button type="button" class="btn btn-default"><img src="ikonice/remove.gif" width="20" data-toggle="modal" data-target="#dijalogP"/></button>
		</div>
		
		<div class="btn-group">
		  <button type="button" class="btn btn-default" ><img src="ikonice/nextform.gif" width="20" /></button>
		  
		</div>
		
		<div class="panel panel-info">
			<p> <h4>Rezim za {{rezim | stringRezima}}</h4></p>
		</div>
	   <div class="panel panel-default">
	   		<div class="panel-body">
	   			<div>
		   			<p>Naziv permisije : <input type="text" ng-model="permisija.name" maxlength="40" required></p>
	   			</div>
	   			<div class="container" id="dugmici">
	  				<div class="btn-group">
		  				<button type="button" class="btn btn-default" ng-click ="rp.commitClick()"><img src="ikonice/commit.gif" width="20" /></button>
		  				<button type="button" class="btn btn-default" ng-click ="rp.rollbackClick()"><img src="ikonice/remove.gif" width="20" /></button>
		  			</div>
		  		</div>
	   		
	   		</div>
	   </div>
	  
	</div>
	
	<div class="modal fade" id="dijalogP" role="dialog">
	    <div class="modal-dialog">
	    
	      
	      <div class="modal-content" >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Potvrda</h4>
	        </div>
	        <div class="modal-body">
	       	
	       		Da li ste sigurni da zelite da obrisete odabranu stavku?
				
			</div>
	        <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="rp.deleteClick()">Potvrpi</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal" >Zatvori</button>
	        </div>
	      </div>
			
		</div>
	
	
	</div>
	
</div>



