<!DOCTYPE html>
<!-- <html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<h1>CANCEL</h1>
</body>
</html>
 -->
 
 <html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" ></link>
</head>
<body>

	<div class="with_background">
		<div class = "centered">
			<div class="in_line">
				<img src="../static/images/grayLogo.png" th:src="@{/images/grayLogo.png}" />
			</div>
			<h1 class="in_line">iSure</h1>
		</div>
	</div>		
	
	<div class="center" >
		<div width = "50%" class="in_line">
			<img width = "100%" src="../static/images/financial_key.png"
			 th:src="@{/images/financial_key.png}"/>
		</div>
		<div class="in_line push"  width = "30%">
			<p>
				<div >
					<div width = "30%" >
						<img width= "80px" src="../static/images/nope.png" th:src="@{/images/nope.png}"/>
					</div>
					<div width = "100%" >
						<h2 display="block" >Unfortunately, something went wrong.</h2>
						<h3 display="block" >Please contact us.</h3>
					</div>
				</div>
			</p>
		</div>
	</div>

</body>

</html>