<div class='row'>

	 <ul class="nav nav-tabs">

	  <li><a data-toggle="tab" class="active" data-target="#reservationsCreate"> 
	  		New reservation
	  </a></li>

	  <li><a data-toggle="tab" data-target="#reservationsActual"> 
	  		Actual reservations
	  </a></li>
	  
	</ul>

	<div class="tab-content">

	  	<div id="reservationsCreate" class="tab-pane fade in active" reservations-create></div>
		<div id="reservationsActual" class="tab-pane fade" reservations-actual></div>      	
	  
	   	

	</div>
</div> 