<div ng-controller="CertificateController as gCRCtrl">

				  	<div class="row">
				  		<div class="col-sm-4"></div>
				  		<div class="col-sm-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<form name="genCertificateRequestForm" ng-submit="genCertificateRequestForm.$valid && gCRCtrl.generateRequest()" class="form-signin" novalidate >
										<h3>Generate certificate request: </h3>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.cn" type="text" class="form-control" placeholder="CN:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.surname" type="text" class="form-control" placeholder="Surname:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.givenName" type="text" class="form-control" placeholder="Given name:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.organization" type="text" class="form-control" placeholder="Organization:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.organizationUnit" type="text" class="form-control" placeholder="Organization unit:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.country" type="text" class="form-control" placeholder="Country:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.email" type="email" class="form-control" placeholder="Email:" required></input>
										</fieldset>
										<fieldset class="form-group">
											<input ng-model="gCRCtrl.certificateRequest.uid" type="text" class="form-control" placeholder="UID:" required></input>
										</fieldset>
										
										<fieldset class="form-group">
			                				<input  type="submit" class="btn btn-lg btn-primary btn-block pull-right" value="Generate" />
			              				</fieldset>
										<hr></hr>
										<fieldset><div></div>{{gCRCtrl.result}}</fieldset><br />
									</form>
								</div>
							</div>
				  		</div>
				  		<div class="col-sm-4"></div>
				  	</div>
		
</div>