<div ng-controller="CertificateRevokeAndGetStatus as cRGS" >
	<div ng-init="cRGS.init()">
		<div class="row">
			  		<div class="col-sm-4"></div>
			  		<div class="col-sm-4">
						<div class="panel panel-default">
							<div class="panel-body">
		<form name="myForm" ng-submit="cRGS.sendRevocationRequest(revokeRequest)">
		<fieldset class="form-group">

		<fieldset class="form-group">
			<label>Serijski broj</label>
			<input type="text" class="control-form" placeholder="Unesite alijas" ng-model="revokeRequest.alias"/>
		</fieldset>
		<fieldset class="form-group">
			<label>Zalba</label>
		</fieldset>
		<fieldset class="form-group">
			
			<textarea name="Text1" cols="50" rows="6" ng-model="revokeRequest.comment"></textarea>
		</fieldset>
			
				<input  type="submit" class="btn btn-lg btn-primary btn-block pull-right" value="Generate" />
				
		</form>
		
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>